@import url("@import url(http://fonts.googleapis.com/css?family=Play");
body {
  display: block;
  margin: 50px;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: #888;
  display: inline-block;
  background-color: #022431;
}
.bio {
  color: #aaa;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: normal;
  color: #ddd;
}
li {
  margin: 10px;
}
a:hover {
  -webkit-color: 0 0 10px #bb8;
  color: #aaa;
  text-decoration: underline;
}
a {
  display: block;
  text-decoration: none;
  color: #aaa;
  font-size: 20px;
}
